body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    background-color: whitesmoke;
}

*:focus {
    outline: none;
}

.PageWrapper {
    min-width: 1564px;
    margin-left: auto;
    margin-right: auto;
    color: #4c4c4c;
    position: relative;
}

header {
    background-color: #4c4c4c;
    width: 100%;
    font-size: 0;
    box-shadow: 0 0 3px #4c4c4c;
    height: 61px;
}

    header a.user_management_link{
        color: #4c4c4c;
        text-decoration: none;
        display: inline-block;
        margin: 15px 0 15px 5%;
        font-size: 20px;
        background-color: lightskyblue;
        padding: 3px 10px;
        border: 1px solid lightskyblue;
        border-radius: 4px;
        vertical-align: middle;
    }
    
        header a.user_management_link:hover{
            border-color: #6ca4c8;
            background-color: #6ca4c8;
            cursor: pointer;
        }
    
    header a.sign_out{
        color: #4c4c4c;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        vertical-align: middle;
        background-color: #f65858;
        padding: 3px 10px;
        border: 1px solid #f65858;
        border-radius: 4px;
        position: absolute;
        right: 5%;
        vertical-align: middle;
        margin: 15px 15px 15px 0;
    }
    
        header a.sign_out:hover{
            border-color: #dc3f3f;
            background-color: #dc3f3f;
            cursor: pointer;
        }

    header span.greetings{
        font-size: 20px;
        color: whitesmoke;
        display: inline-block;
        margin: 15px 0;
        vertical-align: middle;
        position: absolute;
        right: 12%;
        line-height: 31px;
    }

section {
    width: 85%;
    margin:25px auto;
    font-size: 0;
    position: relative;
}

footer {
    height: 115px;
    /*background-color: #4c4c4c;*/
    width: 100%;
    /*box-shadow: 0 0 3px #4c4c4c;*/
}
