.loading-screen{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    position: fixed;
    z-index: 10000;
    color: #4c4c4c;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    display: none;
}

    .loading-screen:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .loading-screen div{
        background-color: black;
        width: 200px;
        height: 80px;
        vertical-align: middle;
        transition: width 3s;
    }

    .loading-screen span{
        vertical-align: middle;
    }

.loading-screen div:hover {
    width: 500px;
}

div.submit_experiment{
    width: 47%;
    display: inline-block;
    vertical-align: middle;
}

    div.submit_experiment h1 {
        font-size: 30px;
        margin: 0 auto 25px;
        text-align: center;
    }

        div.submit_experiment form div:not(.img) {
            text-align: center;
            font-size: 25px;
            margin: 40px 0 0 0;
        }

            div.submit_experiment form div.advanced-settings-toggle {
                margin-top: 30px;
            }

                div.submit_experiment form div.advanced-settings-toggle-content-wrapper {
                    margin: auto;
                    display: inline-block;
                    border-radius: 4px;
                    padding: 4px 5px 5px 5px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                    div.submit_experiment form div.advanced-settings-toggle-content-wrapper:hover {
                        background-color: lightgray;
                        cursor: pointer;
                    }

                    div.submit_experiment form div.advanced-settings-toggle-content-wrapper span {
                        vertical-align: middle;
                    }

                    div.submit_experiment form div.advanced-settings-toggle-content-wrapper .img {
                        display: inline-block;
                        vertical-align: middle;
                        height: 25px;
                        width: 25px;
                        background-size: contain;
                        background-image: url(/static/styles/icons/arrow_right.png);
                    }

            div.submit_experiment form div.advanced-settings {
                display: none;
                margin-top: 10px;
            }

        div.submit_experiment form p {
            margin: 0 auto 10px;
            font-size: 0;
            text-align: center;
            display: inline-block;
            width: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        div.submit_experiment form p.form_buttons {
            text-align: right;
            font-size: 0;
            margin: 40px 0 0 0;
        }

        div.submit_experiment form input {
            box-sizing: border-box !important;
            vertical-align: middle;
            font-size: 17px;
            width: 54%;
            padding: 3px 10px;
            color: #4c4c4c;
            border-radius: 4px;
            border: 1px solid lightgrey;
            height: 40px;
        }
        
/*            div.submit_experiment form input:not([type="file"]){
                border: 1px solid lightgrey;
                height: 40px;
            }*/

            div.submit_experiment form input.error{
                background-color: #f65858;
            }

            div.submit_experiment form input[type="submit"] {
                display: inline-block;
                border: 1px solid lightskyblue !important;
                background-color: lightskyblue;
                margin: 0;
            }

                div.submit_experiment form input[type="submit"]:hover {
                    border: 1px solid #6ca4c8 !important;
                    background-color: #6ca4c8;
                    cursor: pointer;
                }

            div.submit_experiment form input[type="reset"] {
                display: inline-block;
                width: 44%;
                border: 1px solid #f65858 !important;
                background-color: #f65858;
                margin: 0;
                margin-right: 2%;
            }

                div.submit_experiment form input[type="reset"]:hover {
                    border: 1px solid #dc3f3f !important;
                    background-color: #dc3f3f;
                    cursor: pointer;
                }

            div.submit_experiment form input[type="file"] {
                display: none;
            }

            div.submit_experiment form input[type="range"] {
                padding: 0;
                border: none;
                margin: 0 2% 0 0;
                width: 47%;
            }

            div.submit_experiment form input:focus {
                border-color: lightskyblue;
                border-width: 2px;
            }

        div.submit_experiment form span.calcType {
            display: inline-block;
            width: 54%;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            div.submit_experiment form span.calcType input {
                display: none;
            }

            div.submit_experiment form span.calcType label {
                font-size: 17px;
                width: 54%;
                vertical-align: middle;
                display: inline-block;
                text-align: center;
                line-height: 40px;
                border-radius: 4px;
                margin: 0;
            }

            div.submit_experiment form span.calcType label:first-of-type {
                width: 46%;
            }

                div.submit_experiment form span.calcType label:not(.selected-radio-button):hover {
                    cursor: pointer;
                    color: black;
                }



        div.submit_experiment form textarea {
            box-sizing: border-box;
            border: 1px solid lightgrey;
            border-radius: 4px;
            vertical-align: middle;
            font-size: 17px;
            font-family: Arial;
            color: #4c4c4c;
            width: 54%;
            height: 170px;
            padding: 3px 10px;
            resize: vertical;
            max-height: 500px;
        }

            div.submit_experiment form textarea:focus {
                border-color: lightskyblue;
                border-width: 2px;
            }

        div.submit_experiment form label:not(.file-upload) {
            margin-right: 2%;
            font-size: 17px;
            display: inline-block;
            width: 44%;
            vertical-align: middle;
            text-align: right;
        }

            div.submit_experiment form label.qRange-value {
                width: 5%;
                margin: 0;
                text-align: left;
            }

           div.submit_experiment form label.file-upload {
                cursor: pointer;
                line-height: 40px;
                width: 21%;
                display: inline-block;
                box-sizing: border-box;
           }

            div.submit_experiment form label.file-upload span.title {
                background-color: lightgray;
                padding: 0 5px;
                display: inline-block;
                width: 100%;
                box-sizing: border-box;
                text-align: center;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                font-size: 17px;
                vertical-align: middle;
            }

            div.submit_experiment form label.file-upload span.title:hover {
                cursor: pointer;
                background-color: darkgrey;
            }

        div.submit_experiment form span.filename {
            height: 40px;
            padding: 0 5px;
            text-align: center;
            display: inline-block;
            width: 33%;
            box-sizing: border-box;
            border: 1px solid lightgray;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            vertical-align: middle;
            font-size: 17px;
            line-height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }

div.experiment_list{
    width: 53%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

    div.experiment_list h1 {
        font-size: 30px;
        margin: 0 auto 25px;
        text-align: center;
        display: inline-block;
        width: 85%;
        vertical-align: middle;
    }
    
    div.experiment_list div.experiment_list_overlay{
        display: none;
        position: absolute;
        color: #4c4c4c;
        text-align: center;
        box-sizing: border-box;
        margin-top: 59px;
        background-color: whitesmoke;
        width: 100%;
        vertical-align: middle;
        height: calc(100% - 59px);
        top: 0;
        left: 0;
        opacity: 1;
    }

    div.experiment_list div.experiment_list_overlay:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

        div.experiment_list div.experiment_list_overlay img{
            width: 128px;
            height: 128px;
        }

    div.experiment_list img.img_reload_list{
        display: inline-block;
        margin: 0 0 25px 5%;
        text-align: center;
        vertical-align: middle;
        border-radius: 4px;
        height: 34px;
        padding: 5px 5px 5px 5px;
        box-sizing: border-box;
    }
    
    div.experiment_list img.img_reload_list:hover{
        background-color: lightgray;
        cursor: pointer;
    }

    div.experiment_list .experiment_row, div.experiment_list .pagination-controls {
        box-sizing: border-box;
        width: 95%;
        margin-left: 5%;
        height: 40px;
        font-size: 0;
        border-radius: 4px;
    }

    div.experiment_list .pagination-controls{
        text-align: center;
        border-radius: 4px;
        margin-top: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        div.experiment_list .pagination-controls span{
            display: inline-block;
            font-size: 17px;
            box-sizing: border-box;
            vertical-align: middle;
            line-height: 40px;
            height: 45px;
            background-color: lightgray;
            width: 6%;
        }

        div.experiment_list .pagination-controls span.previous{
            margin-right: 1%;
            width: 10%;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        div.experiment_list .pagination-controls span.next{
            margin-left: 1%;
            width: 10%;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

            div.experiment_list .pagination-controls span:hover{
                background-color: gray;
                cursor: pointer;
            }

    div.experiment_list .experiment_row a {
        display: none;
    }

    div.experiment_list .experiment_row span{
        display: inline-block;
        font-size: 17px;
        box-sizing: border-box;
        vertical-align: middle;
        line-height: 40px;
        margin-left: 1%;
    }

        div.experiment_list .experiment_row span.date {
            width: 16%;
        }

        div.experiment_list .experiment_row span.name {
            width: 44%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }
        
        div.experiment_list .experiment_row span.progress {
            width: 8%;
        }

        div.experiment_list .experiment_row span.status {
            width: 16%;
        }
        
        div.experiment_list .experiment_row img{
            display: none;
            vertical-align: middle;
            height: 40px;
            width: 40px;
            margin-left: 4.5%;
        }

.ui-tooltip {
    background: #4c4c4c !important;
    box-sizing: border-box !important;
    height: 40px;
    padding: 0 5px !important;
    margin: 0 !important;
    line-height: 40px;
    border: none !important;
    box-shadow: 0 0 0 !important;
    border-radius: 4px !important;
    color: whitesmoke;
    max-width: 800px;
}

.ui-tooltip-content {
    font-size: 14px !important;
}

.selected{
    background-color: lightskyblue !important;
}

.hiddenBefore, .hiddenAfter{
    display: none !important;
}

.file-extension-validation-error {
    background-color: #f65858;
}

.advanced-settings-toggle-clicked {
    background-image: url(/static/styles/icons/arrow_down.png) !important;
}

.selected-radio-button{
    background-color: greenyellow;
}