html, body, .PageWrapper{
    height: 100%;
}

.PageWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    min-width: 500px;
}

header {
    display: none !important;
}

section{
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

footer{
    flex-shrink: 0;
    display: flex !important;
    align-items: center;
    height: 140px;
    padding: 0;

}

h1{
    text-align: center;
    margin-bottom: 100px;
}

form{
    margin-bottom: 40px;
}

    form p:not(.label-row) {
        margin-bottom: 30px;
    }

    form p.label-row {
        margin-bottom: 0;
    }

    @media (min-width: 768px) {
        form p:not(.label-row) {
            margin-bottom: 10px;
        }
        form p.label-row {
            margin-bottom: 10px;
        }
    }

        form p label{
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 0;
            padding-left: 0 !important;
        }

        @media (min-width: 768px) {
            form p label {
                margin-bottom: 10px;
            }
        }
            form p.label-row label{
                margin-bottom: 0;
            }

        form p input:not([type="submit"]), form p textarea{
            font-size: 20px;
            border: 1px solid lightgrey;
            border-radius: 4px;
            color: #4c4c4c;;
            height: 40px;
            margin-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            transition: border-color .5s;
            -webkit-transition: border-color .5s;
            -moz-transition: border-color .5s;
            -o-transition: border-color .5s;
        }

            form p input:not([type="submit"]):not(.error):focus, form p textarea:not(.error):focus{
                border: 2px solid lightskyblue;
            }

            form p input.error:not([type="submit"]):focus, form p textarea.error:focus{
                border: 2px solid #f65858;
            }

        form p input#submit{
            font-size: 20px;
            border-radius: 4px;
            color: #4c4c4c;;
            height: 40px;
            margin-top: 5px;
            border: none;
            background-color: lightskyblue;
            transition: background-color .5s;
            -webkit-transition: background-color .5s;
            -moz-transition: background-color .5s;
            -o-transition: background-color .5s;
        }

            form p input#submit:hover{
                background-color: #6ca4c8;
                cursor: pointer;
            }

        form p textarea{
            min-height: 150px !important;
            resize: vertical;
            max-height: 300px;
        }

        /* jquery validation error message */
        form p span.error{
            color: #f65858;
            font-size: 16px;
            display: inline-block;
            min-height: 0;
            padding: 0;
        }

        form p input.error, form p textarea.error{
            border-color: #f65858;
        }

        form p label.error{
            color: #f65858;
        }

/* server error validation error message */
.error-span{
    position: absolute;
    font-size: 20px;
    display: inline-flex;
    height: 150px;
    align-items: center;
    margin-left: 15px;
    min-width: 160px;
    color: #f65858;
    text-align: center;
    vertical-align: middle;
}

.centered-text{
    text-align: center;
}

.top-margin{
    margin-top: 30px;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
    background-color: green;
}
