header{
    display: none !important;
}

section{
    width: 100%;
    margin: 0;
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

footer{
    height: 140px;
    padding: 0;

}

.content-wrapper{
    margin-top: 50px;
    margin-bottom: 40px;
}

p{
    font-size: 20px;
}

.red-color{
    color: #f65858;
}