<html>
  <head>
    {% block head %}
      <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/base.css') }}">
      <link href="{{ url_for('static',filename='styles/jquery-ui.min.css') }}" rel="stylesheet"/>
      <script src="{{ url_for('static',filename='scripts/jquery-2.1.1.min.js') }}"></script>
      <script src="{{ url_for('static',filename='scripts/JSmol.min.js') }}"></script>      
      <script src="{{ url_for('static',filename='scripts/jquery-ui.min.js') }}"></script>
      <script src="{{ url_for('static',filename='scripts/jquery.validate.min.js') }}"></script>
    {% endblock %}
  </head>
  <body>
    <div class="PageWrapper">
      <header>
        {% block header %}
          {% if current_user.role_id == 1 %}
            <a href="/admin/user" class="user_management_link">User Management</a>
          {% endif %}
          {% if current_user.is_authenticated %}
            <span class="greetings">Hi, {{ current_user.username }}</span>
            <a class="sign_out" href="{{ url_for('logout') }}">Log Out</a>
          {% endif %}
        {% endblock %}
      </header>
      <section>
        {% block content %}{% endblock %}
      </section>
      <footer>

      </footer>
    </div>
  </body>
</html>