{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <script src="{{ url_for('static',filename='scripts/app/home.js') }}"></script>
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="flash-message">
        {% for message in get_flashed_messages(category_filter=["info"]) %}
            <span>{{ message }}</span>
        {% endfor %}
    </div>
    <div class="fullscreen_window"></div>
    <div class="submit_experiment">
        <h1>Submit a new Saxs Experiment</h1>
        <form action="" method="post" enctype="multipart/form-data" id="new_experiment_form">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}{{ form.title}}
                {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}{{ form.description }}
                {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.models.label}}{{ form.models }}
                {% for error in form.models.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.expData.label }}{{ form.expData }}
                {% for error in form.expData.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.calcSteps.label }}{{ form.calcSteps }}
                {% for error in form.calcSteps.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.stepsBetweenSync.label }}{{ form.stepsBetweenSync }}
                {% for error in form.stepsBetweenSync.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                Optimalization parameters
            </p>
            <p>
                {{ form.alpha.label }}{{ form.alpha }}
                {% for error in form.alpha.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.beta.label }}{{ form.beta }}
                {% for error in form.beta.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.gama.label }}{{ form.gama }}
                {% for error in form.gama.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </p>
            <p class="form_buttons">
                <input type="reset" value="Clear">
                {{ form.submit }}
            </p>
        </form>
    </div>
    <div class="experiment_list">
        <div class="experiment_list_overlay">
            <img class="img_reload_list" src="/static/styles/icons/gears.gif" title="reload">
        </div>
        <img class="img_reload_list" src="/static/styles/icons/reload.png" title="reload">
        <h1>View a Saxs Experiment</h1>
        {% for item in exps %}
            <p title="its working" class="experiment_row">
                <a href={{ url_for('main.view_experiment', user_id=item.user_id, exp_guid=item.exp_guid) }}></a>
                <span class="date">{{ item.date }}</span>
                <span class="name">{{ item.title }}</span>
                <span class="progress">{{ item.progress }}</span>
                <span class="status">{{ item.status }}</span>
                <img src="{{ url_for('static', filename='styles/icons/eye_grey.png') }}">
            </p>    
        {% endfor %}
        <div class="pagination-controls">
            {% if pages|length > 1%}
                <span class="page previous"> < </span>
                    {% for item in pages %}
                        <span class="page _{{ loop.index }}">{{ loop.index }}</span>
                    {% endfor %}
                <span class="page next"> > </span>
            {% endif %}
        </div>
    </div>
{% endblock %}